body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lavenderblush;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

fondo {
    background-color: plum;
}
body, ul, figure{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
    display:flex;
}
ul li{
    width:48%;
}
img{
    width:100%;
}
ul li figure{
    padding: 5px;
    position:relative;
}
ul li figure:hover figcaption{
    display:block;
}
ul li figcaption{
    display:none;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,.7);
    text-align: center;
    padding: 15px;
    font:20px/30px Verdana;
    color:white;
}

bot{
    background-color:lavender;
}
tarjeta{
    background-color:lavenderblush;
}
tamano {
    max-width: 1040px;
}
buttons {
    background-image: url( https://i.imgur.com/QqwvZGs.png); 
    max-width: 720px;

}