@{
    ViewBag.Title = "Mexicali";
}


<head>
    <link rel="stylesheet" href="Site.css" />
</head>

<body>
    <div class="container ">
        <nav class="navbar navbar-expand-lg" style="background-color: #caacba">
            <div class="container-fluid">
                <a><h2>Mexicali</h2></a>
            </div>
        </nav>
    </div>
    <br />
    <div class="card mb-3 bg-transparent" style="max-width: 1040px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.periodismonegro.mx/wp-content/uploads/2020/05/WhatsApp-Image-2020-05-25-at-3.06.26-PM.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body fondo">
                    <h5 class="card-title"> Dirección: Prolongación Venustiano Carranza Sn, Robledo, 21971 Mexicali, B.C.</h5>
                    <p class="card-text">Telefono: 686 563 4431</p>
                    <p class="card-text">Horario: Lun a Vie  8:00 - 19:30</p>
                    <p class="card-text">Sabado - Domingo    cerrado</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a><h2>Fecha de captura</h2></a>
                </div>
            </nav>
        </div>
        <br />
        <ul>
            <li>
                <figure>
                    <img src="https://images.ecestaticos.com/VX-_FqPU38uyZ4Ee0VJQIV6TN7A=/0x0:1000x750/557x418/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F67f%2Fe00%2Fa51%2F67fe00a5138581bfbb94a4b69a7d2e9d.jpg" class="img-fluid m-lg-auto" alt="perro pug">
                    <figcaption>
                        <content>
                            Sexo: Macho
                            <br />
                            Edad: Joven
                            <br />
                            Color: Blanco
                            <br />
                            Raza: Pug
                            <br />
                            Estatus: Adoptado
                        </content>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="https://www.tiendanimal.es/articulos/wp-content/uploads/2020/04/gato-bengali-1200x900.jpg" alt="gato bengala">
                    <figcaption>
                        <content>
                            Sexo: Hembra
                            <br />
                            Edad: Adulto
                            <br />
                            Color: Naranja con rayas negras
                            <br />
                            Raza: bengali
                            <br />
                            Estatus: Adoptado
                        </content>

                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Kleinrex_.jpg/220px-Kleinrex_.jpg" alt="conejo dinosaurio">
                    <figcaption>
                        <content>
                            Sexo: Macho
                            <br />
                            Edad: Joven
                            <br />
                            Color: Blanco
                            <br />
                            Raza: Rex
                            <br />
                            Estatus: Adopcion
                        </content>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="https://www.elheraldo.hn/binrepository/600x376/50c0/500d376/none/45933/CDCC/perrosmasbellos1_EH1045639_MG116935485.jpg" alt="perro pug">
                    <figcaption>
                        <content>
                            Sexo: Hembra
                            <br />
                            Edad: Adulto
                            <br />
                            Color: Blanco y negro
                            <br />
                            Raza: Husky
                            <br />
                            Estatus: Adopcion
                        </content>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>

</body>