
@{
    ViewBag.Title = "Busqueda";
}


<div class="container ">
    <nav class="navbar navbar-expand-lg" style="background-color: #caacba">
        <div class="container-fluid">
            <a><h2>Busqueda avanzada</h2></a>
        </div>
    </nav>
</div>
<br />
<div class="col-auto">
        <h4><label for="staticEmail2" class="visually-hidden" style="color:lightcoral">Area</label></h4>
    <br/>    
    <select class="form-select" aria-label="Default select example">
            <option selected>Area</option>
            <option value="1">Tijuana</option>
            <option value="2">Mexicali</option>
            <option value="3">Rosarito</option>
        </select>
</div>
<br/>
<div class="col-auto">
    <h4><label for="inputPassword2" class="visually-hidden" style="color:lightcoral">Especie</label></h4>
     <br />
    <select class="form-select" aria-label="Default select example">
            <option selected>Especie</option>
            <option value="1">Gato</option>
            <option value="2">Perro</option>
            <option value="3">Ave</option>
        </select>
</div>
<br />
<div class="col-auto">
    <h4><label for="inputPassword2" class="visually-hidden" style="color:lightcoral">Genero</label></h4>
    <br />    
    <select class="form-select" aria-label="Default select example">
            <option selected>Genero</option>
            <option value="1">Macho</option>
            <option value="2">Hembra</option>
        </select>
</div>
<br />
<div class="col-auto">
    <h4><label for="inputPassword2" class="visually-hidden" style="color:lightcoral">Edad</label></h4>
      <br />
    <select class="form-select" aria-label="Default select example">
            <option selected>Edad</option>
            <option value="1">Cachorro</option>
            <option value="2">Adulto</option>
            <option value="3">Joven</option>
        </select>
</div>
<br />
<div class="col-auto">
    <h4><label for="inputPassword2" class="visually-hidden" style="color:lightcoral">Color 1</label></h4>
    <br/>    
    <select class="form-select" aria-label="Default select example">
            <option selected>Color</option>
            <option value="1">Blanco</option>
            <option value="2">Negro</option>
            <option value="3">Amarrillo</option>
        </select>
</div>
<br />
<div class="col-auto">
    <h4><label for="inputPassword2" class="visually-hidden" style="color:lightcoral">Color 2</label></h4>
    <br/>    
    <select class="form-select" aria-label="Default select example">
            <option selected>Color</option>
            <option value="1">Negro</option>
            <option value="2">Blanco</option>
            <option value="3">Amarrillo</option>
        </select>
</div>
<br />
<div class="col-auto">
    <h4><label for="inputPassword2" class="visually-hidden" style="color:lightcoral">Raza</label></h4>
    <br />
    <select class="form-select" aria-label="Default select example">
        <option selected>Raza</option>
        <option value="1">Mix</option>
        <option value="2">Pura</option>
        <option value="3">Semipura</option>
    </select>
</div>
<br />
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3 rounded" style="background-color: #caacba; color:black">Buscar</button>
</div>
