@{
    ViewBag.Title = "Contact";
}

<head>
    <link rel="stylesheet" href="Site.css" />
</head>

<body>
    <div class="form-control-lg fondo"><h3>Tijuana</h3></div>
    <br />
    <div class="card mb-2 bg-transparent " style="max-width:540px">
                <img src="https://www.elsoldetijuana.com.mx/local/9fj1uw-agradece-voluntariado-de-control-animal-donaciones-en-especie/alternates/LANDSCAPE_768/Agradece%20voluntariado%20de%20control%20animal%20donaciones%20en%20especie" class="img-thumbnail" alt="...">
    </div>
    <div class="col-md-4">
        <div class="card-body text-md-right">
            <h5 class="card-title">Dirección: Blvd. Insurgentes S/N, Río Tijuana 3a. Etapa, 22225 Tijuana, B.C.</h5>
            <p class="card-text">Teléfono: 664 973 7006</p>
            <p class="card-text"><small class="text-muted">Horario: Lun a Vie  8:00 - 15:00</small></p>
            <p class="card-text"><small class="text-muted">sabado     8:00 - 13:00</small></p>
            <p class="card-text"><small class="text-muted">Domingo    cerrado</small></p>
        </div>
    </div>
    <div>
        <img src="" class="float-left " />"
        <a>.</a>
        <a></a>
        <a></a>
        <a>         </a>
        <a>              </a>
    </div>
    <div>
        <a> Fecha de captura</a>

        <ul>
            <li>
                <figure>
                    <img src="https://images.ecestaticos.com/VX-_FqPU38uyZ4Ee0VJQIV6TN7A=/0x0:1000x750/557x418/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F67f%2Fe00%2Fa51%2F67fe00a5138581bfbb94a4b69a7d2e9d.jpg" class="img-fluid m-lg-auto" alt="perro pug">
                    <figcaption>
                        <content>
                            Sexo: Macho
                            <br />
                            Edad: Joven
                            <br />
                            Color: Blanco
                            <br />
                            Raza: Pug
                            <br />
                            Estatus: Adoptado
                        </content>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="https://www.tiendanimal.es/articulos/wp-content/uploads/2020/04/gato-bengali-1200x900.jpg" alt="gato bengala">
                    <figcaption>
                        <content>
                            Sexo: Hembra
                            <br />
                            Edad: Adulto
                            <br />
                            Color: Naranja con rayas negras
                            <br />
                            Raza: bengali
                            <br />
                            Estatus: Adoptado
                        </content>

                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Kleinrex_.jpg/220px-Kleinrex_.jpg" alt="conejo dinosaurio">
                    <figcaption>
                        <content>
                            Sexo: Macho
                            <br />
                            Edad: Joven
                            <br />
                            Color: Blanco
                            <br />
                            Raza: Rex
                            <br />
                            Estatus: Adopcion
                        </content>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="https://www.elheraldo.hn/binrepository/600x376/50c0/500d376/none/45933/CDCC/perrosmasbellos1_EH1045639_MG116935485.jpg" alt="perro pug">
                    <figcaption>
                        <content>
                            Sexo: Hembra
                            <br />
                            Edad: Adulto
                            <br />
                            Color: Blanco y negro
                            <br />
                            Raza: Husky
                            <br />
                            Estatus: Adopcion
                        </content>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>

</body>
<address>
    
</address>

<address>
    
</address>