@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="text-center">
        
        <br/>
        <br/>
        <a class="form-control form-control-lg bot rounded " href="@Url.Action("Contact","Home")">Tijuana</a>
        <br/>
        <br/>
        <a class="form-control form-control-lg" href="@Url.Action("About","Home")">Mexicali</a>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    </div>
</body>
<div class="row">

</div>